.goods {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: $main-blue;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
  }
}

.goods__wrapper {
  max-width: 1262px;
  text-align: left;
  padding: 66px 20px 115px 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width-only) {
    min-width: 770px;
    padding: 57px 50px 52px 50px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 320px;
    padding: 48px 25px 62px 25px;
  }
}

.goods__title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin: 0 0 50px 0;

  @media (max-width: $tablet-width-only) {
    margin: 0 0 36px 0;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 28px;
    line-height: 140.62%;
    margin: 0 0 28px 0;
  }
}

.goods__title span:first-child {
  display: inline;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.goods__title span:last-child {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: inline;
  }
}

.goods__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1222px;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    flex-direction: row;
  }
}

.goods__item {
  width: 29%;
  position: relative;
  margin: 0 25px 25px 0;
  overflow: hidden;
  cursor: pointer;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    margin: 0 0 28px 0;
  }
}

.goods__link {
  display: block;
}

.goods__link:hover,
.goods__link:focus,
.goods__link:active {
  border: 2px solid $light-gray;
  transition: 1s;
}

.goods__item:nth-child(3n) {
  position: relative;
  margin: 0 0 25px 0;
}

.goods__item::after {
  content: url("../../img/icons/icon-next.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 3px 0 0 0;
  background-color: $light-blue;
  position: absolute;
  bottom: 0;
  right: 1%;

  @media (max-width: $tablet-width-only) {
    right: 0%;
  }

  @media (max-width: $mobile-width-only) {
    width: 40px;
    height: 40px;
    bottom: 1%;
  }
}

.link__container img {
  margin: 0 0 -6px;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.link__title {
  width: 172px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  position: absolute;
  margin: 0;
  top: 49px;
  left: 42px;

  @media (max-width: $tablet-width-only) {
    width: 149px;
    top: 38px;
    left: 45px;
  }

  @media (max-width: $mobile-width-only) {
    width: 133px;
    font-size: 18px;
    top: 26px;
    left: 30px;
  }
}
