.header {
  width: 100%;
  background: linear-gradient(180deg, $main-blue 84.9%, $main-blue-0 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1400px;
    min-height: 55px;
    padding: 30px 151px 35px 89px;
  }

  @media (max-width: $tablet-width-only) {
    max-width: 1023px;
    padding: 20px 50px 25px 50px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 767px;
    min-width: 320px;
    min-height: 70px;
    padding: 15px 15px 16px 26px;
  }
}

.header__logo {
  display: block;
  margin: 0 25px 0 0;
  cursor: initial;
}

.logo__wrapper img {
  width: 215px;
  height: 55px;

  @media (max-width: $mobile-width-only) {
    width: 35px;
    height: 35px;
  }
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 460px;
    margin: 0 25px 0 0;
  }

  @media (max-width: $tablet-width-only) {
    max-width: 440px;
    justify-content: flex-end;
    margin: 0;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 540px;
  }
}

.header__item {
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 14px 0 14px 0;
    margin: 0 20px 0 0;
  }
}

.header__item:nth-child(2n) {
  margin: 0;
}

.header__link {
  font-family: "PT Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $light-gray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__link svg {
  margin: 0 15px 0 0;

  @media (max-width: $tablet-width-only) {
    padding: 10px 10px;
    margin: 0 20px 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: -5px 20px 0 0;
  }
}

.header__link p {
  margin: 0;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.header__item:hover,
.header__item:focus,
.header__item:active {
  transform: scale(1.1);
  transition: 1s;
}

.header__button {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-height: 40px;
    background-color: $main-blue;
    border: 1px solid $light-gray;
    border-radius: 3px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $light-gray;
    cursor: pointer;
    margin: 5px 0 0 0;
    padding: 10px;
    user-select: none;
    box-sizing: border-box;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.header__button:hover,
.header__button:focus,
.header__button:active {
  background-color: $light-gray;
  border: 1px solid $main-blue;
  color: $main-blue;
  transform: scale(1.1);
  transition: 1s;
}
