.modal {
  min-width: 320px;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $light-blue;
  padding: 6px 33px 46px 35px;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  transition: 1s;
  z-index: 100;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.modal-index {
  top: -1000px;
}

.modal-modal {
  top: 146px;
}

.modal__close {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  padding: 10px 10px;
  margin: 4px -17px 0 0;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus,
.modal__close:active {
  border: 1px solid $white;
  transition: 1s;
}

.modal h2 {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 140.62%;
  color: $white;
  padding: 0;
  margin: -14px 0 7px;
}

.modal p {
  width: 100%;
  font-family: "PT Mono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  padding: 0;
  margin: 0 0 35px 0;
}

.modal input {
  width: 97%;
  height: 45px;
  margin: 0 0 24px 0;
}

.modal input:hover,
.modal input:focus,
.modal input:active {
  border: 2px solid $main-blue;
}

.modal textarea {
  width: 97%;
  margin: 0 0 16px 0;
}

.modal .form__button {
  width: 97%;
  min-height: 42px;
  color: $white;
  border: none;
  background-color: $main-blue;
  margin: 0 auto 20px;
  cursor: pointer;
}

.modal label {
  width: 97%;
  padding: 0;
  margin: 0 0 0 9px;
  cursor: pointer;
}

.modal div {
  text-align: center;
}
