.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page {
  height: 100%;
  margin: 0 auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  color: $main-blue;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Mono", "Arial", sans-serif;
  background-color: $white;
  position: relative;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $main-blue;
}
