// Project palette

$white: rgba(255, 255, 255, 1);
$white-70: rgba(255, 255, 255, 0.7);
$light-gray: rgba(242, 245, 246, 1);
$main-blue: rgba(4, 24, 39, 1);
$main-blue-0: rgba(4, 24, 39, 0);
$main-blue-15: rgba(4, 20, 39, 0.15);
$light-blue: rgba(0, 179, 255, 1);
$shadow: rgba(3, 16, 27, 0.7);

// Viewports
// ---------------------------------

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
